.chip{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 1rem;
    margin-left: 3rem;
}

.avatar2{
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    background-color: brown;
}

.usernamechip{
    margin-left: 2vw;
    font-size: 1.2rem;
}
p{
    padding: 0.5rem;
}